* {margin: 0; padding:0; list-style: none; outline: none; text-decoration: none;}

@font:'Open Sans';

@grey: #f9f9f9;
@red: #bc4d44;
@green: #5aad9b;
@black: #3a3a3a;
@blue: #369bc5;
@pink: #cd4075;
@dark_orange: #cd6c3f;
@light_orange: #d0892f;

@fullWidth: 986px;

@block: 134px;
@margin: 15px;
@padding: 15px;

body {
	font:400 100% @font, sans-serif;
	background: @grey; 
}
header {
	width: @fullWidth;
	margin: (@margin * 2) auto (@margin * 4) auto;
	h1 {
		font: 300 4em @font;
		display: inline-block;
		width: ((@fullWidth / 2) - (@margin * 2));
		margin: @margin;
	}
	ul {
		display: inline-block;
		width: ((@fullWidth / 2) - (@margin * 2));
		margin: @margin;
		text-align: right;
		li {
			display: inline-block;
			margin: 0 3px; 
				
		} 
	}
}
section {
	width: @fullWidth;
	margin: (@margin * 2) auto;
	.block {
		display: inline-block;
		width: (@fullWidth / 3);
		div {
			float: left;
			margin: @margin;
			color: @grey;
			position: relative;
			span {
				position: absolute;
				bottom: 15px;
				left: 15px;
			}
		}
		.small {
			width: @block;
			height: @block;
		}
		.double {
			width: ((@block * 2) + (@margin * 2));
			height: @block;
		}
		.large {
			width: ((@block * 2) + (@margin * 2));
			height: ((@block * 2) + (@margin * 2));
			font-size: 1.5em;
			font-weight: 300;
		}
		.red {
			background: @red;
		}
		.green {
			background: @green;
		}
		.black {
			background: darken(@grey, 75%);
		}
		.blue {
			background: @blue;
		}
		.pink {
			background: @pink;
		}
		.dark_orange {
			background: @dark_orange;
		}
		.light_orange {
			background: @light_orange;
		}
	}
}
footer {
	width: @fullWidth;
	margin: @margin auto;
	font-weight: 300;
	p:first-child{
		margin: @margin;
		padding: @padding * 2;
		background: darken(@grey, 7%);
		color: darken(@grey, 65%);
	}
	aside {
		text-align: right;
		margin: 0 @margin (@margin * 3) @margin;
		font-size: 0.75em;
		color: darken(@grey, 30%);
		a {
			color: @blue;
		}
	}
	p:last-child{
		text-align: center;
		font-size: 0.75em;
		color: darken(@grey, 30%);
	}
}


@media screen and (max-width: 996px) {
	header, section, footer {
		width: (@fullWidth / 3);
		margin: (@margin * 2) auto;
	}
	header {
		h1 {
			width: (@fullWidth / 3);
		}
		ul {
			width: (@fullWidth / 3);
			text-align: left;
		}
	}
	footer{
		text-align: center;
		aside  {
			text-align: center;
		}
	}
}
