* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}
body {
  font: 400 100% 'Open Sans', sans-serif;
  background: #f9f9f9;
}
header {
  width: 986px;
  margin: 30px auto 60px auto;
}
header h1 {
  font: 300 4em 'Open Sans';
  display: inline-block;
  width: 463px;
  margin: 15px;
}
header ul {
  display: inline-block;
  width: 463px;
  margin: 15px;
  text-align: right;
}
header ul li {
  display: inline-block;
  margin: 0 3px;
}
section {
  width: 986px;
  margin: 30px auto;
}
section .block {
  display: inline-block;
  width: 328.6666666666667px;
}
section .block div {
  float: left;
  margin: 15px;
  color: #f9f9f9;
  position: relative;
}
section .block div span {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
section .block .small {
  width: 134px;
  height: 134px;
}
section .block .double {
  width: 298px;
  height: 134px;
}
section .block .large {
  width: 298px;
  height: 298px;
  font-size: 1.5em;
  font-weight: 300;
}
section .block .red {
  background: #bc4d44;
}
section .block .green {
  background: #5aad9b;
}
section .block .black {
  background: #3a3a3a;
}
section .block .blue {
  background: #369bc5;
}
section .block .pink {
  background: #cd4075;
}
section .block .dark_orange {
  background: #cd6c3f;
}
section .block .light_orange {
  background: #d0892f;
}
footer {
  width: 986px;
  margin: 15px auto;
  font-weight: 300;
}
footer p:first-child {
  margin: 15px;
  padding: 30px;
  background: #e7e7e7;
  color: #535353;
}
footer aside {
  text-align: right;
  margin: 0 15px 45px 15px;
  font-size: 0.75em;
  color: #adadad;
}
footer aside a {
  color: #369bc5;
}
footer p:last-child {
  text-align: center;
  font-size: 0.75em;
  color: #adadad;
}
@media screen and (max-width: 996px) {
  header,
  section,
  footer {
    width: 328.6666666666667px;
    margin: 30px auto;
  }
  header h1 {
    width: 328.6666666666667px;
  }
  header ul {
    width: 328.6666666666667px;
    text-align: left;
  }
  footer {
    text-align: center;
  }
  footer aside {
    text-align: center;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
