/* #Font-Face
================================================== */


@font-face {
   font-family: 'nunito-light';
    src: url('../fonts/nunito-light-webfont.eot');
    src: url('../fonts/nunito-light-webfont.eot?iefix') format('eot'),
         url('../fonts/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito-light-webfont.ttf') format('truetype'),
         url('../fonts/nunito-light-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'nunito-regular';
    src: url('../fonts/nunito-regular-webfont.eot');
    src: url('../fonts/nunito-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/nunito-regular-webfont.woff') format('woff'),
         url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('../fonts/nunito-regular-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}