/* colors */
/* colors */
/* fonts */
/* fonts size */
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
body {
  background: #e4e4e4;
}
img {
  width: 100%;
}
.cl {
  clear: both;
}
#frame {
  width: 90%;
  margin: 0 auto;
}
header {
  position: relative;
  background: #e4e4e4;
  width: 100%;
  margin: 4.166666666666666% 0;
  text-align: justify;
}
header h1 {
  font-family: "nunito-light", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #433453;
  font-size: 1.95em;
  line-height: 1.3em;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}
header h1 span {
  font-size: 0.6em;
  font-family: "nunito-regular", Arial, Helvetica, sans-serif;
  vertical-align: top;
  text-transform: none;
}
header #main-nav {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}
header #main-nav #menu_button {
  display: none;
  width: 44px;
  height: 34px;
  background: url(../img/btn.png) no-repeat;
  color: #e4e4e4;
}
header #main-nav nav {
  text-align: right;
}
header #main-nav nav a {
  display: inline-block;
  margin: 0 0 0 20px;
  text-decoration: none;
  color: #644d2b;
  font-family: "nunito-regular", Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  font-size: 0.9em;
}
header #main-nav nav a:hover {
  color: #240f20;
}
.header:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}
#hero {
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}
#hero h2 {
  font-family: "nunito-light", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 16.666666666666664% 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.articles {
  background: #ffffff;
  width: 95.83333333333334%;
  padding: 4.166666666666666% 2.083333333333333%;
  overflow: hidden;
  margin: 0 auto;
}
.articles article {
  width: 29.166666666666668%;
  margin: 0 2.083333333333333%;
  display: inline-block;
  vertical-align: top;
}
.articles article img {
  margin: 0 0 8.333333333333332% 0;
}
.articles article h3 {
  font-family: "nunito-light", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #433453;
  text-transform: uppercase;
  margin: 0 0 4.166666666666666% 0;
}
.articles article p {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 0.9em;
  line-height: 1.35em;
}
footer {
  background: #240f20;
  color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.35em;
  width: 91.66666666666666%;
  font-size: 0.8em;
  width: 95.83333333333334%;
  padding: 4.166666666666666% 2.083333333333333%;
}
footer h4 {
  font-family: "nunito-light", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #644d2b;
  display: inline-block;
  width: 29.166666666666668%;
  margin: 0 2.083333333333333%;
  vertical-align: top;
}
footer p {
  display: inline-block;
  width: 62.5%;
  margin: 0 2.083333333333333%;
}
/* mobile devices */
@media screen and (max-width: 600px) {
  body {
    font-size: 90%;
    line-height: 85%;
  }
  section {
    width: 91.66666666666666% !important;
    padding: 4.166666666666666% !important;
  }
  section article {
    width: 95.83333333333334% !important;
    padding: 4.166666666666666% 0 !important;
  }
  footer {
    font-size: 0.9em;
    width: 95.83333333333334%;
    padding: 4.166666666666666% 2.083333333333333%;
  }
  footer h4 {
    font-family: "nunito-regular", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #644d2b;
    display: inline-block;
    width: 29.166666666666668%;
    margin: 0 2.083333333333333%;
    vertical-align: top;
  }
  footer p {
    display: inline-block;
    width: 62.5%;
    margin: 0 2.083333333333333%;
  }
}
/* smaller screens */
@media screen and (max-width: 960px) {
  body {
    font-size: 95%;
  }
  header #main-nav {
    width: 100%;
    text-align: right;
  }
  header #main-nav #menu_button {
    display: inline-block;
  }
  header #main-nav nav {
    position: absolute;
    top: 34px;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }
  header #main-nav nav a {
    display: block;
    margin: 0;
    padding: 10px 20px;
  }
  header #main-nav nav a:last-child {
    padding-bottom: 20px;
  }
  header #main-nav nav a:first-child {
    padding-top: 20px;
  }
  header #main-nav nav a:hover {
    background-color: #644d2b;
    color: #ffffff;
  }
  header #menu_wrapper {
    display: none;
  }
  header #menu_wrapper ul {
    position: absolute;
    top: 4.166666666666666%;
    right: 4.166666666666666%;
    background: #ffffff;
    width: 20.833333333333336%;
    margin: 4.166666666666666%;
    padding: 2.083333333333333%;
  }
  header #menu_wrapper ul li {
    display: block;
  }
  header #menu_wrapper ul li a {
    color: #644d2b;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 100%;
  }
  header #menu_wrapper ul li a:hover {
    color: #644d2b;
  }
  header #menu_wrapper ul li:hover {
    background: #e4e4e4;
  }
}
/* normal screens */
@media screen and (min-width: 961px) and (max-width: 1200px) {
  body {
    font-size: 100%;
  }
}
/* bigger screens */
@media screen and (min-width: 1201px) {
  body {
    font-size: 120%;
  }
}
