/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */ 

/* #Site Styles
================================================== */
body {
	padding: 10px;
}
header {
	background: #fff;
	padding: 20px 0;
	font-family: @arial;
	color: @grey;
	border-bottom: 1px @lightgrey solid;
	margin: 0 10px 40px 10px;
}
.clear {
	clear: both;
}
h1 {
	font-size: @huge;
}

@arial: Arial, Helvetica, sans-serif;
@small: 1em;
@big: 1.5em;
@huge: 2em;
@grey: #333;
@lightgrey: #ccc;

h2 {
	font-family: @arial;
	color: @grey;
	font-size: @big;
	margin: 0 0 20px 0;
}
p {
	font-family: @arial;
	color: @grey;
	font-size: @small;
	line-height: 20px;
}
.border {
	border: 1px solid @lightgrey;
	padding: 4%;
	margin: 10px;
}
.item { width: 10%;
	margin: 10px; 
	img {
		width: 100%;
	}
}
.item.w2 { width: 15%;
	margin: 10px; 
	img {
		width: 100%;
	}	
}
.item.w3 { width: 20%;
	margin: 10px;  
	img {
		width: 100%;
	}
}
.item.w4 { width: 25%;
	margin: 10px;  
	img {
		width: 100%;
	}
}
.item.text { width: 20%;
	margin: 10px; 
	img {
		width: 100%;
	}
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/* .item { width: 40%; 
			img {
				width: 100%;
			}
		}
		.item.w2 { width: 40%; 
			img {
				width: 100%;
			}	
		}
		.item.w3 { width: 40%;
			img {
				width: 100%;
			}
		}
		.item.w4 { width: 40%;
			img {
				width: 100%;
			}
		} */
		.item.text { width: 50%;
			img {
				width: 100%;
			}
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.item { width: 96%; 
			margin: 0 auto;
			img {
				width: 96%;
			}
		}
		.item.w2 { width: 96%; 
			img {
				width: 100%;
			}	
		}
		.item.w3 { width: 96%;
			img {
				width: 100%;
			}
		}
		.item.w4 { width: 96%;
			img {
				width: 100%;
			}
		}
		.item.text { width: 88%;
			img {
				width: 100%;
			}
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.item { width: 96%; 
			img {
				width: 100%;
			}
		}
		.item.w2 { width: 96%; 
			img {
				width: 100%;
			}	
		}
		.item.w3 { width: 96%;
			img {
				width: 100%;
			}
		}
		.item.w4 { width: 96%;
			img {
				width: 100%;
			}
		}
		.item.text { width: 88%; 
			img {
				width: 100%;
			}
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/