<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>Income:</label>
      <input type="number" ng-model="yourIncome" placeholder="Enter your income">
      <hr>
      <h1>your income is {{yourIncome}}!</h1>

      <label>Taxes</label>
      <input type="number" ng-model="yourtax" placeholder="Enter your taxes">
      <hr>
      <h1>your taxes are {{yourtax}}!</h1>

      <label>Other (optional):</label>
      <input type="number" ng-model="yourother" placeholder="Other (optional)">
      <hr>
      <h1>Result: {{yourName - yourtax - yourincome }}!</h1>

    </div>
  </body>
</html>