/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
body{padding:10px}header{background:#fff;padding:20px 0;font-family:Arial,Helvetica,sans-serif;color:#333;border-bottom:1px #ccc solid;margin:0 10px 40px 10px}h1{font-size:35px}h2{font-family:Arial,Helvetica,sans-serif;color:#333;font-size:25px;margin:0 0 20px 0}p{font-family:Arial,Helvetica,sans-serif;color:#333;font-size:14px;line-height:20px}.border{border:1px solid #ccc;padding:4%;margin:10px}.item{width:10%;margin:10px}.item img{width:100%}.item.w2{width:15%;margin:10px}.item.w2 img{width:100%}.item.w3{width:20%;margin:10px}.item.w3 img{width:100%}.item.w4{width:25%;margin:10px}.item.w4 img{width:100%}.item.text{width:20%;margin:10px}.item.text img{width:100%}@media only screen and (max-width: 767px){.item.text{ width:50%}.item.text img{width:100%}}@media only screen and (min-width: 480px) and (max-width: 767px){.item{ width:30%;margin:0 auto}.item img{width:100%}.item.w2{width:35%}.item.w2 img{width:100%}.item.w3{width:40%}.item.w3 img{width:100%}.item.w4{width:45%}.item.w4 img{width:100%}.item.text{width:88%}.item.text img{width:100%}}@media only screen and (max-width: 479px){.item{ width:96%}.item img{width:100%}.item.w2{width:96%}.item.w2 img{width:100%}.item.w3{width:96%}.item.w3 img{width:100%}.item.w4{width:96%}.item.w4 img{width:100%}.item.text{width:88%}.item.text img{width:100%}}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
