/* colors */
@white: #FFFFFF;
@purple: #433453;
@gold: #644d2b;
@black: #240f20; 
@grey: #e4e4e4;
@dark: #666666;
 
/* fonts */
@light: "nunito-light", Arial, Helvetica, sans-serif;
@regular: "nunito-regular", Arial, Helvetica, sans-serif;
@ari: Arial, Helvetica, sans-serif;

/* fonts size */
@small: 0.60em;
@big: 1.30em;
@huge: 1.95em;
@courant: 0.9em;
@footer: 0.8em;
@line: 1.35em;

header, nav, section, article, aside, footer {
   display:block;
}

body {
	background: @grey;
}
img {
	width: 100%;
}

.cl {
	clear: both;
}

#frame {
	width: 90%;
	margin: 0 auto;
}
header {
	position: relative;
	background: @grey;
	width: percentage(12/12);
	margin: percentage(0.5/12) 0;
	text-align: justify; 

		h1 {
			font-family: @light;
			margin: 0;
			color: @purple;
			font-size: @huge;
			line-height: @big;
			font-weight: normal;
			display: inline-block;
			vertical-align:top;
			text-transform: uppercase;
				span {
					font-size: @small;
					font-family: @regular;
					vertical-align: top;
					text-transform: none;
				}
		}
		#main-nav {
			text-align: right;
			position: absolute;
			top: 0;
			right: 0;

			#menu_button {
				display: none;
				width: 44px;
				height: 34px;
				background: url(../img/btn.png) no-repeat;
				color: @grey;
			}

			nav {
				text-align: right; 
				
				a {
					display: inline-block;
					margin: 0 0 0 20px;
					text-decoration:none;
					color: @gold;
					font-family: @regular;
					line-height: @big;
					font-size: @courant;

					&:hover {
						color: @black;
					}
				}
			}
		}
}
 .header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

#hero {
	background:url(../img/header.jpg) no-repeat;
	background-size: cover;
	width: percentage(12/12);
		h2 {
			font-family: @light;
			text-align: center;
			color: @white;
			padding: percentage(2/12) 0;
			font-weight:normal;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
}
.articles {
	background: @white;
	width: percentage(11.5/12);
	padding: percentage(0.5/12) percentage(0.25/12);
	overflow: hidden;
	margin: 0 auto;
		article {
			width: percentage(3.5/12);
			margin: 0 percentage(0.25/12);
			display: inline-block;
			vertical-align:top;
				img {
					margin: 0 0 percentage(1/12) 0;
				}
				h3 {
					font-family: @light;
					font-size: @big;
					color: @purple;
					text-transform: uppercase;
					margin: 0 0 percentage(0.5/12) 0;
				}
				p {
					font-family: @ari;
					color: @dark;
					font-size: @courant;
					line-height: @line;
				}
			}
		}
footer {
	background: @black;
	color: @grey;
	font-family: @ari;
	font-size: @footer;
	line-height: @line;
	width: percentage(11/12);
	font-size: @footer;
	width: percentage(11.5/12);
	padding: percentage(0.5/12) percentage(0.25/12);
		h4 {
			font-family: @light;
			font-size: @big;
			color: @gold;
			display: inline-block;
			width: percentage(3.5/12);
			margin: 0 percentage(0.25/12);
			vertical-align: top;
		}
		p {
			display: inline-block;
			width: percentage(7.5/12);
			margin: 0 percentage(0.25/12);
		}
	}


/* mobile devices */
@media screen and (max-width: 600px) {
	body { font-size: 90%; line-height: 85%; }
	section {
		width: percentage(11/12) !important;
		padding: percentage(0.5/12) !important;
			article {
				width: percentage(11.5/12) !important;
				padding: percentage(0.5/12) 0 !important;
			}
		}
	footer {
	font-size: @courant;
	width: percentage(11.5/12);
	padding: percentage(0.5/12) percentage(0.25/12);
		h4 {
			font-family: @regular;
			font-size: @big;
			color: @gold;
			display: inline-block;
			width: percentage(3.5/12);
			margin: 0 percentage(0.25/12);
			vertical-align: top;
		}
		p {
			display: inline-block;
			width: percentage(7.5/12);
			margin: 0 percentage(0.25/12);
		}
	}
	
	}

/* smaller screens */
@media screen and (max-width: 960px) {
	body { font-size: 95% }
	header {
		#main-nav {
			width: 100%;
			text-align: right;

			#menu_button {
				display: inline-block;
			}
			nav {
				position: absolute;
				top: 34px;
				right: 0;
				width: 100%;
				background-color: @white;
				
				a {
					display: block;
					margin: 0;
					padding: 10px 20px;

					&:last-child {
						padding-bottom: 20px;
					}

					&:first-child {
						padding-top: 20px;
					}

					&:hover {
						background-color: @gold;
						color: @white;
					}
				}
			}
		}
		#menu_wrapper {
			display: none;
			ul {
				position: absolute;
				top: percentage(0.5/12);
				right: percentage(0.5/12);
				background: @white;
				width: percentage(2.5/12);
				margin: percentage(0.5/12);
				padding:  percentage(0.25/12);
				li {
					display: block;
						a {
							color: @gold;
							display: block;
							height: 25px;
							line-height: 25px;
							width: 100%;
						}
						a:hover {
							color: @gold;
						}
					}
				li:hover {
					background: @grey;
					}
				}
			}
		}
	}


/* normal screens */
@media screen and (min-width: 961px) and (max-width: 1200px) {
	body { font-size: 100% }
}

/* bigger screens */
@media screen and (min-width: 1201px) {
	body { font-size: 120% }
}